__pycache__/
*.py[cod]
*.so

.venv/
venv/
env/
ENV/

.vscode/
.ipynb_checkpoints/

outputs/*.xlsx
outputs/*.png

.DS_Store

.streamlit/secrets.toml

__pycache__/
.pytest_cache/
uploads/*.xlsx
uploads/*.pdf
reports/*.pdf

*.pyc
uploads/*.csv
uploads/*.docx
reports/*.xlsx
reports/*.docx
